*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    height: 100px;
}

.container{
    background-color: beige;
    display: flex;
    flex-direction: column;
    widows: 700px;
    height: 500px;
    align-self: center;
    border-radius: 25px;
}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container>.row{
    width: 100px;
    justify-content: space-evenly;
}

.pic{
    border-radius: 50%;
    border: 2px solid rgb(180, 160, 158);
}

.name{
    font-size: x-large;
    font-weight: bold;
}
.score{
    font-size: xx-large;
}
.runs{
    font-size: xx-large;
    width: 200px;
    justify-content: space-evenly;
}
#strikebutton{
    background-color: blue;
    width: 300px;
    height:25px;
    font-size: xx-large;
    color: white;
    /*padding: 10px;*/
    margin-top: 50px;
    margin-bottom: -50px;
    border-radius: 10px;
    outline: none;
}